body {
  padding-top: 40px;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: light;
  font-family: "Open Sans", "Verdana", serif;
}

.wrapper {
  width: 1160px;
  padding: 0 40px;
  margin: 0 auto;
}


